

.topimage {
    background-color: black;
    height: 620px;
}

.formCard{
    margin-top: -200px;
    margin-right: 100px;
    text-align: center;
}

.topimage h3 {
    color: white;
    margin-top: -500px;
    margin-left: 50px;
}

.topimage h2 {
    width: 700px;
    font-size: 50px;
    margin-left: 50px;
    color: white;
}

.tImage{
    margin-top: -150px;
    opacity: 0.5;
}
.navbar{
    z-index: 2;
}

.navbar-collapse li{
    font-size: 25px;
    
}

.aboutBox {
    text-justify: distribute-all-lines;
    text-align: center;
    padding: 50px;
}

.divider-line {
    height: 4px;
    background-color: green;
    width: 100px;
    border: solid 0px;
    border-radius: 4px;
    margin: auto;
}

.aboutBox p {
    font-size: 18px;
    margin-top: 50px;
}

.message{
    text-align: center;
    font-size: 35px;
    color: rgb(92, 92, 92);
    width: 600px;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlap{
    /* display: inline; */
}

.imageBox{
    background-image: url("/media/home_03.jpg");
    background-position: center;

    background-size: cover;
    height: 400px;
    width: 300px; 
    margin-left: 100px;
    border: solid 0;
    border-radius: 20px;
    margin: 70px;
}

.imageBox1{
    background-image: url("/media/home_05.jpg");
    background-position: center;

    background-size: cover;
    height: 400px;
    width: 300px; 
    margin-left: 100px;
    border: solid 0;
    border-radius: 20px;
    margin: 70px;
}

.imageBox2{
    background-image: url("/media/home_07.jpg");
    background-position: center;

    background-size: cover;
    height: 400px;
    width: 300px; 
    margin-left: 100px;
    border: solid 0;
    border-radius: 20px;
    margin: 70px;
}


.textBox{
    display: block;
    background-color: rgba(0, 0, 0, 0.801);
    height: 400px;
    width: 300px;
    margin-top: -400px;
    border: solid 0;
    border-radius: 20px;
    box-shadow: 20px;
    color: white;
    padding: 25px;
    text-align: center;
}

.hero-section{
    /* display: flex; */
    padding-bottom: 100px;
}

.carousel-inner{
    background-color: green;
    border: solid 0px;
    border-radius: 20px;
}
.slide-text{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    color: white;
}

#carouselExampleCaptions{
    margin-top: 100px;
    margin-bottom: 100px;
}

.testimonials{
    text-align: center;
}

.testimonials p {
    margin-top: 50px;
    font-size: 18px;
    width: 700px;
    margin: auto;
}

.testimonials h4 {
    color: green;
    margin-top: 30px;
}


.footer{
    margin-top: 300px;
    background-color: black;
    height: 500px;
}

.footer p {
    font-size: 20px;
    color: green;
    font-weight: 800;
    margin-left: 400px;
    margin-top: 40px;
}

.footer h6{
    color: white;
    margin-left: 10px;
}

.footer span{
    padding: 10px;
    display: flex;
    margin-left: 400px;
}

.icon{
    height: 20px;
}



/* Facilities */

.topSection h2 {
    color: white;
    text-align: center;
    margin-top: -200px;
}


.message2 h3{
    color: green;
    margin-top: 200px;
    text-align: center;
}

.message2 p {
    text-align: center;
    font-style: italic;
}

.message2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.couple img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0 solid;
    border-radius: 20px;
}

.couple div{
    width: 40%;
    margin: auto;
    background-color: green;
    opacity: 0.8;
    border: 0 solid;
    border-radius: 5px;
    margin-top: -100px;
    padding: 50px;
}

.couple p {
    text-align: center;
    z-index: 5;
    opacity: 1.0;
    color: white;
}

.large-triangles{
    margin-top: 50px;
    background-image: url("/media/large-triangles.svg");
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 70px;
}


.message3 h3{
    color: green;
    margin-top: 50px;
    text-align: center;
}

.message3 p {
    text-align: center;
    font-style: italic;
}

.message3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.new-frame{
    width: 25%;
    margin: auto;
    margin-top: 100px;
    border: solid 4px green;
    padding: 20px;
    text-align: center;
}

.new-frame img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}

.new-frame h5{
    color: green;
    margin-top: 10px;
    font-weight: 700;
}

.wraper{
    overflow: hidden;
}