
.dark-navbar{
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
}

.nav-item{
    color: white;
}


.topimage {
    background-color: black;
    height: fit-content;
    
}

.formCard{
    margin-top: -200px;
    margin-right: 100px;
    text-align: center;
}

.topimage h3 {
    color: white;
    margin-top: -500px;
    margin-left: 50px;
}

.topimage h2 {
    width: 700px;
    font-size: 50px;
    margin-left: 50px;
    padding-bottom: 280px;
    color: white;
}

.tImage{
    /* margin-top: -150px; */
    width: 100%;
    opacity: 0.5;
}
.navbar{
    z-index: 2;
}

.navbar-collapse li{
    font-size: 25px;
    
}

.aboutBox {
    text-justify: distribute-all-lines;
    text-align: center;
    padding: 50px;
}

.divider-line {
    height: 4px;
    background-color: green;
    width: 100px;
    border: solid 0px;
    border-radius: 4px;
    margin: auto;
}

.aboutBox p {
    font-size: 18px;
    margin-top: 50px;
}

.message{
    text-align: center;
    font-size: 35px;
    color: rgb(92, 92, 92);
    width: 600px;
    margin: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlap{
    display: inline;
}

.imageBox{
    background-image: url("/media/home_03.jpg");
    background-position: center;

    background-size: cover;
    height: 400px;
    width: 300px; 
    margin-left: 100px;
    border: solid 0;
    border-radius: 20px;
    margin: 70px;
}

.imageBox1{
    background-image: url("/media/home_05.jpg");
    background-position: center;

    background-size: cover;
    height: 400px;
    width: 300px; 
    margin-left: 100px;
    border: solid 0;
    border-radius: 20px;
    margin: 70px;
}

.imageBox2{
    background-image: url("/media/home_07.jpg");
    background-position: center;

    background-size: cover;
    height: 400px;
    width: 300px; 
    margin-left: 100px;
    border: solid 0;
    border-radius: 20px;
    margin: 70px;
}


.textBox{
    display: block;
    background-color: rgba(0, 0, 0, 0.801);
    height: 400px;
    width: 300px;
    margin-top: -400px;
    border: solid 0;
    border-radius: 20px;
    box-shadow: 20px;
    color: white;
    padding: 25px;
    text-align: center;
}

.hero-section{
    display: flex;
    padding-bottom: 100px;
}

.carousel-inner{
    background-color: green;
    border: solid 0px;
    border-radius: 20px;
}
.slide-text{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    color: white;
}

#carouselExampleCaptions{
    margin-top: 100px;
    margin-bottom: 100px;
}

.testimonials{
    text-align: center;
}

.testimonials p {
    margin-top: 50px;
    font-size: 18px;
    width: 700px;
    margin: auto;
}

.testimonials h4 {
    color: green;
    margin-top: 30px;
}


.footer{
    margin-top: 300px;
    background-color: black;
    height: 500px;
}

.footer p {
    font-size: 20px;
    color: green;
    font-weight: 800;
    /* margin-left: 400px; */
    
    margin-top: 40px;
}

.footer h6{
    color: white;
    margin-left: 10px;
}

.footer span{
    padding: 10px;
    display: flex;
    /* margin-left: 400px; */
}

.icon{
    height: 20px;
}



/* Facilities */

.topSection h2 {
    color: white;
    text-align: center;
    margin-top: -200px;
}


.message2 h3{
    color: green;
    margin-top: 200px;
    text-align: center;
}

.message2 p {
    text-align: center;
    font-style: italic;
}

.message2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.couple img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 0 solid;
    border-radius: 20px;
}

.couple div{
    width: 40%;
    margin: auto;
    background-color: green;
    opacity: 0.8;
    border: 0 solid;
    border-radius: 5px;
    margin-top: -100px;
    padding: 50px;
}

.couple p {
    text-align: center;
    z-index: 5;
    opacity: 1.0;
    color: white;
}

.large-triangles{
    margin-top: 50px;
    background-image: url("/media/large-triangles.svg");
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 70px;
}

.message3 h3{
    color: green;
    margin-top: 50px;
    text-align: center;
}

.message3 p {
    text-align: center;
    font-style: italic;
}

.message3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.new-frame{
    width: 25%;
    margin: auto;
    margin-top: 100px;
    border: solid 4px green;
    padding: 20px;
    text-align: center;
}

.new-frame img{
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
}

.new-frame h5{
    color: green;
    margin-top: 10px;
    font-weight: 700;
}

.wraper{
    overflow: hidden;
}

.home-facilities{
    margin-top: -100px;
}

/* suits  */

.suits-top img{
    margin-top: -400px;
    
}

.suits-top h2{
    text-align: center;
    color: white;
    margin-top: -250px;
    margin-bottom: 250px;
}

/* discover */

.attractions{
    margin: 50px!important;
}

.nature{
    background-image: url("/media/Arjun_Banner-1024x262.jpg");
    background-size: cover;
    background-position: center;
    padding: 60px;
    text-align: center;
    color: white;
    background-repeat: no-repeat;
}

.message3 h3{
    color: green;
    margin-top: 50px;
    text-align: center;
}

.message3 p {
    text-align: center;
    font-style: italic;
}

.message3 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 760px) {

    .attractions{
        margin: 5px!important;
    }
    .attractions div{
        padding: 10px!important;
        margin: 0px!important;
    }

    .nature{
        padding: 20px;
    }

    .suits-top img{
        margin-top: auto;
    }
    .suits-top h2{
        margin-top: -120px;
        margin-bottom: 150px;
        
    }

    .topimage{
        padding-bottom: -500px;
    }

    .topimage h3{
        margin: auto;
        margin-top: -300px;
        text-align: center;
    }

    .topimage h2{
        margin: auto;
        width: auto;
        font-size: 30px;
        text-align: center;
        margin-bottom: 50px;
        padding-bottom: 165px;
    }

    .tImage{
        width: 100%;
        height: 500px;
    }

    .aboutBox {
        padding: 10px;
    }

    .message{
        width: auto;
        margin-top: 50px;
    }

    .imageBox{
        margin-left: 50px;
    }
    .imageBox1{
        margin-left: 50px;
    }
    .imageBox2{
        margin-left: 50px;
    }

    .overlap{
        margin-right: 100px;
    }

    #carouselExampleCaptions{
        width: 100%;
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    #carouselExampleCaptions img {
        height: auto;
    }

    .testimonials p{
        width: auto;
    }

    .footer h6{
        padding-left: 20px;
    } 

    .footer{
        padding: 20px;
    }

    .topSection h2{
        margin-top: -50px;
    }
    
    .home-facilities{
        margin: auto;
    }

    .message2 h3{
        margin-top: 90px;
    }

    .couple img{
        width: 95%;
        margin-top: 100px;
        border-radius: 10px;
    }

    .couple div{
        width: 85%;
        margin-top: -50px;
        padding: 10px;
    }

    .large-triangles {
        padding: 30px;
    }

    .new-frame{
        width: 80%;
    }

    .s-details div{
        padding: 20px!important;
        margin: 0px!important;
    }

    .s-details{
        margin-bottom: 80px;
    }

  }

